/*按钮样式*/
.button {
    -fx-font-size: 30;
    -fx-text-fill: #FFFFFF;
    -fx-background-image: url('file:pic/Background/按钮背景.jpg');
}

/*按钮被按到时*/
.button:hover {
    -fx-font-size: 26;
}

/*文本样式*/
#title {
    -fx-font-size: 90;
}

VBox {
    -fx-spacing: 80;
    -fx-alignment: center;
}

.root {
    -fx-background-image: url('file:pic/Background/菜单背景.jpg');
}